<%- include ('partials/header') %>

<div class="container">
	<h1>Landing Page is here!</h1>
	<p>Welcome to Yelp Camp!</p>

	<a href="/campground">View All Campgrounds</a>
	<%- include ('partials/footer') %>
</div>
